@model SimpleLoginSystem.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true,"Change Password failed. Please check the details");
    <div>
        
        <fieldset>
            <legend>Registration Form</legend>
            <div>@Html.LabelFor(u=>u.Email)</div>
            <div>@Html.TextBoxFor(u=>u.Email)
                @Html.ValidationMessageFor(u=>u.Email)
            </div>
            <div>@Html.LabelFor(u=>u.OldPassword)</div>
            <div>@Html.PasswordFor(u=>u.OldPassword)
                @Html.ValidationMessageFor(u=>u.OldPassword)
            </div>
             <div>@Html.LabelFor(u=>u.NewPassword)</div>
            <div>@Html.PasswordFor(u=>u.NewPassword)
                @Html.ValidationMessageFor(u=>u.NewPassword)
            </div>
            
            <input type="submit" value="Change Password"/>
        </fieldset>
    </div>
}
